<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  			<style type="text/css">


				body{ font-size:12px; font-family:SimSun;}
				body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0;}
				table{border-collapse:collapse;border-spacing:0;}
				fieldset,img{border:none;}
				address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
				li{list-style:none;}
				caption,th{text-align:left;}
				h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
				q:before,q:after{content:'';}
				abbr,acronym{border:none;font-variant:normal;}
				sup{vertical-align:text-top;}
				sub{vertical-align:text-bottom;}
				input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
				input,button,textarea,select{*font-size:100%;}
				button{ cursor: pointer; outline: none; border: none;}
				legend{color:#000;}
				del,ins{text-decoration:none;}
				small{font-size:100%;}
				a{ text-decoration:none; color:#fff; outline: none;}
				.fl{float:left;display:inline;}
				.fr{float:right;display:inline;}
				.clearfix:after,.Clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
				.clearfix{display:inline-block;}
				*html .clearfix{height:1%}
				.clearfix{display:block;}
				.pr{position:relative;}
				.pa{position:absolute;}
				.zoom{zoom:1}



				.wrap {
				width: 1000px;
				margin-left: auto;
				margin-right: auto;
				overflow: hidden;
				}
				.mod-nav {
				width: 100%;
				height: 58px;
				background: #fff;
				border-bottom: 1px solid #dedede;
				-webkit-box-shadow: 0px 2px 2px #e5e5e5;
				-moz-box-shadow: 0px 2px 2px #e5e5e5;
				margin-bottom: 10px;
				}			

				@page{size:297mm 210mm;margin: 0}
				.warp h1, h2, h3, h4, h5, h6 {
				display: inline-block;
				vertical-align: middle;
				color: #777;
				}
				.bt-line{border-top:1px solid #00cca3;}
				.per-font{font-size: 14px;}
				.per-info{display: block}
				.mod-nav h2{
							height: 58px;
							line-height: 58px;
							position: relative;
							font-size: 18px;
							 font-weight: bold;
						}
				
				.info-nav h4{ 
							height: 60px;
							line-height: 60px;
							position: relative;
							font-size: 16px;
							vertical-align: middle;
				}
				.mod-nav h2 em{
					font-size: 10px;
					height: 20px;
					line-height: 20px;
					text-align: center;
					color:#c8c8c8;
				}
				.btn-exp{
					background:#00cca3;
					color:#fff;
					width:88px;
					height:42px;
					margin:8px 20px ;

				}
				.overflow-in{overflow:inherit;}
				.info-nav{border-bottom: 1px dashed #e5e5e5}
				.info-nav button{
					background:#ff9c16;
					color:#fff;
					width:48px;
					height:34px;
					margin:12px 20px ;
					float:right;
				}
				.info-detail{
					padding:20px 58px;
					display: block;
				}
				.info-detail h4{
							height: 30px;
							line-height: 30px;
							position: relative;
							font-size: 16px;
				}
				
				.per-img{
					width:170px;

				}
				.base-intro{padding-left:172px;}
				.base-intro dt{height:48px;}
				.base-intro dt span {color:#8b8b8b;line-height: 30px;margin-left: 20px;font-size: 12px}
				.base-intro dt,dd{display: inline-block;width:250px;overflow: hidden;}
				.base-intro dd{color:#646464;line-height: 36px}
			
					.skill-img{
					width:424px;
				}
				.skill-result{max-width: 500px}
				.skill-result p{height:30px;line-height: 30px;}
				.skill-result p span{float: left;display: inline-block;}
				.skill-result spanname{color:#9b9b9b;width: 112px;text-align: left;padding:0 10px;}
				.skill-result span.dian{font-family: Arial;color: #dadada;display: inline-block;width: 100px;}
				.skill-result span.result{font-size: 16px;padding:0 20px;}
				
				.edu-reward li span{width:200px;display: inline-block;line-height: 40px}
				.edu-reward h2{line-height: 30px;color:#a2a2a2;}
				.edu-reward ul li,.pro-intro ul li{color:#646464;}
			
				.pro-intro h2,.por-text label{line-height: 30px;font-size: 16px;width:128px;}
				.pro-list span{width:200px;display: inline-block;line-height: 40px;color:#646464;}
				.pro-intro .skil{r: #00cca3}
				.por-text{color: #838383;line-height: 30px;padding-left:90px;}
			    .por-text dt{color:#646464;}
			    .por-text dd{display: block;width:100%;}
			   
			    .introself-info p{color: #838383;line-height: 30px;width:844px;height:120px;word-wrap:break-word;overflow:hidden;}
  			</style>
    </head>
    <body>
    	  <div id="bd" class="mt20">
		 	 <div class="wrap overflow-in per-font">
		 	 	<div class="mod-nav  bt-line">
		 	 		<div class="fl pl20">
		 	 			<h2>个人简历<em class="pl10">Resume</em></h2>
		 	 		</div>
		 	 		
		 	 	</div>
		 	 	
		 	 	<div class="per-info per-base-info"> 
		 	 	    <div class="info-nav ">
		 	 	    	<h4>基本信息</h4>
		 	 	    	
		 	 	    </div>
		 	 	    <div class="clearfix  info-detail">
		 	 	    	<div class="per-img fl"><img src="${model.avatar}" width="116px" height="160px"/></div>
		 	 	    	<div class="base-intro">
			 	 	    	<dl>
			 	 	    		<dt><h4>${model.name}</h4></dt>
			 	 	    		<dt><h4>应聘岗位: ${model.knoId}</h4></dt>
			 	 	    		<dd>性别 : ${XB}</dd>
			 	 	    		<dd>出生年月 ：${model.birthYear}/${model.birthMonth} </dd>
			 	 	    		<dd>联系方式 : ${model.contact}</dd>
			 	 	    		<dd>电子邮箱 ：${model.email}</dd>
			 	 	    		<dd>籍贯 : ${model.birthPlace}</dd>
			 	 	    		<dd>专业 : ${model.major} </dd>
			 	 	    	</dl>
		 	 	    	</div>
		 	 	    </div>
		 	 	</div>
		 	 	
				<div class="per-info per-skill-info"> 
		 	 	    <div class="info-nav ">
		 	 	    	<h4>技能评测</h4>
		 	 	    	
		 	 	    </div>
		 	 	     <div class="clearfix  info-detail">
		 	 	     	<div class="skill-img fl"><img src="${skillimg}" width="220" height="202"/></div>
		 	 	     	<div class="skill-result fl">
			 	 	     	
			 	 	     	#foreach($item in $list3)
         
         					<p>
			 	 	     		<span class="name">${item.skillName}</span>
								<span class="dian">...........................</span>
								<span class="result" style="color:#a6da1b">${item.skillLevel}</span>
								<span class="result" style="color:#a6da1b">${item.plus}</span>
			 	 	     	</p>
         
#end
		 	 	     	</div>
		 	 	     </div>
		 	 	</div>
		 	 	<div style="height:20px"></div>
				<div class="per-info per-edu-info"> 
		 	 	    <div class="info-nav ">
		 	 	    	<h4>教育经历</h4>
		 	 	    	
		 	 	    </div>
		 	 	     <div class="clearfix  info-detail">
			 	 	        <div class="edu-reward">
								<ul>
								     #foreach($item in $eduList)
								    <li>
								        <span>${item.enrollTime}~${item.graduateTime}</span>
								        <span>${item.school}</span>
								        <span>${item.major}</span>
								        <span>${item.degree}</span>
								    </li>
								    
								     #end  
								</ul>
								<h2>奖励经历</h2>
								<ul>
								
								 #foreach($item in $honorList)  
								    <li>
								        <span>${item.honor}</span>
								        <span>${item.levels}</span>
								        <span>${item.prizeNum}</span>
								    </li>
								     #end 
								</ul>
			 	 	        </div>
		 	 	     </div>
		 	 	</div>
		 	 	
				<div class="per-info per-project-info"> 
		 	 	    <div class="info-nav ">
		 	 	    	<h4>项目经历</h4>
		 	 	    	
		 	 	    </div>
		 	 	     <div class="clearfix info-detail ">
		 	 	   		<div class="pro-intro">
		 	 	   		
		 	 	   		#foreach($item in $comList)
			 	 	     	<div class="pro-list">
									        <span>${item.entryTime}~${item.turnoverTime}</span>
									        <span>${item.company}</span>
									        <span>${item.department}</span>
									        <span>${item.positions}</span>
			 	 	     	</div>
			 	 	     	
			 	 	     	 #foreach($item2 in $proList)
	   							#if( ${item2.companyId} == ${item.id} )	
							<div class="por-text">
								<dl>
									<dt><h2>${item2.project}</h2><span><label>使用技能 : </label><strong class="skill">${item2.skills}</strong></span></dt>
									<dd>${item2.des1}</dd>
									<dd>${item2.des2}</dd>
									<dd>${item2.des3}</dd>
								</dl>
							</div>
							#end

   							 #end
						 #end  
							
		 	 	     </div>
		 	 	</div>
		 	 	
		 	 	<div class="per-info per-introself-info"> 
		 	 	    <div class="info-nav ">
		 	 	    	<h4>自我描述</h4>
		 	 	    	
		 	 	    </div>
		 	 	     <div class="clearfix info-detail ">
		 	 	   		<div class="introself-info">
							<p>${model.personalStatement}</p>
		 	 	   		</div>
		 	 	   	</div>
		 	 	</div>
		 	 </div>
		 </div>
	
	</div>
    </body>
</html>
